body{
    background-color: black;
}
#header{
    position: relative;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.3); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid gray;
    overflow: hidden;
    display: flex;
    justify-content:space-between ;
    align-items: center;
    
}

#header #Socials ul li{
    display: inline;
    margin: 5px;
    
    
}

#Socials{
    margin: 10px;
}


i{
    border: 1px solid whitesmoke;
    border-radius: 50px;
    padding: 10px; 
    color: whitesmoke;   
}

i:hover{
    background-color:goldenrod;
}

#Logo img{
    width: 15%;
    
}
#Logo{
    overflow: hidden;

    
}

nav a{
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    color: gainsboro;
    margin: 10px;
    /*border:ridge*/
    
}

nav a:hover{
    color: goldenrod;
}

#BackgroundImage1 {
    background-image: url("./910442.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

nav{
    
    justify-content: space-between;
    float: right;
    padding-right: 20px;
    padding-top: 14px;
    position: absolute;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
          
}

#navbar{
    height: 50px;
    overflow: hidden;
    position: sticky;
    top: 0;
}



#Buttons{
    margin : 20%;
    display: flex;
    text-align: center;
    font-family: 'oswald';
}

.Button {
    border: 1px solid red;
    color: lightgoldenrodyellow;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight:bold ;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

button:hover{
      background-color: rgba(0, 0, 0, 0.2); 
      ;
  }
  
#Footer{
    background-image: url("./Footer.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0;
    top: 0;
    bottom: 0;

}

#Footer div,p, ul li{

    font-size: 15px;
    font-family: sans-serif;
    font-weight: bolder;
    color: white;
    text-align: center;
    list-style: none;
    
}

#Footer h1{
    font-size: 2em;
    padding-top: 50px ;

}
#Footer h3{
    font-size: 20px;
}
    
#Footer #Contact h2{
    padding-top: 50px;
    font-size: 30px;
    font-weight: bold;
}

#Footer #Contact ul li{
    font-size: 20px;
    font-weight: bold;
}

#Footer p{
    padding-top: 50px;
    font-size: 25px;
}


}
#FooterBorder{
    margin-top: 0;
    border: 1px solid red;
}

#openingHours{
    margin-top: 500px;
}

#Contact{
    border-top: 1px solid black;
    padding-bottom: 50px;
}